<link rel="stylesheet" href="./components/head/head.css" />
<script src="./components/head/head.js"></script>
<!-- 顶部版本用户栏 -->
<div id="beforeTopNav">
	<div class="beforeTop">
		<div>
			<a href="">起点中文网</a>
			<a href="">起点女生网</a>
			<i>|</i>
			<a href="">创世中文网</a>
			<i>|</i>
			<a href="">云起书院</a>
			<i>|</i>
			<a href="">繁体版</a>
		</div>
		<div>
			<a href="">登录</a>
			<i>|</i>
			<a href="">退出</a>
		</div>
	</div>
</div>
<div id="headBefore">
	<div class="beforeBar">
		<div class="logo">
			<a href="?page=index"></a>
		</div>
		<div class="search">
			<input type="text" placeholder="期待在异界" />
			<label>
				<svg
					t="1666787524382"
					class="icon"
					viewBox="0 0 1024 1024"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					p-id="17198"
					width="40"
					height="18"
				>
					<path
						d="M756.565333 697.258667c2.133333 1.493333 4.224 3.157333 6.101334 5.12l241.664 241.621333c16.256 16.256 16.512 43.52-0.128 60.16a42.453333 42.453333 0 0 1-60.202667 0.170667l-241.664-241.664a41.429333 41.429333 0 0 1-5.034667-6.101334A424.917333 424.917333 0 0 1 426.666667 853.333333C191.018667 853.333333 0 662.314667 0 426.666667S191.018667 0 426.666667 0s426.666667 191.018667 426.666666 426.666667c0 102.698667-36.266667 196.949333-96.768 270.592zM426.666667 768a341.333333 341.333333 0 1 0 0-682.666667 341.333333 341.333333 0 0 0 0 682.666667z"
						fill="#ffffff"
						p-id="17199"
					></path>
				</svg>
			</label>
		</div>
		<div class="shujia">
			<img src="./assets/imges/icon/book.svg" alt="" />
			<span id="su">我的书架</span>
		</div>
	</div>
</div>
<div id="headBar">
	<ul>
		<div>
			<span>
				<img src="./assets/imges/icon/fen.svg" alt="" />
				<a>作品分类</a>
			</span>
		</div>
		<div>
			<li><a>全部作品</a></li>
			<li><a>排行</a></li>
			<li><a>完本</a></li>
			<li><a>免费</a></li>
			<li><a>作家专区</a></li>
			<li><a>搜索</a></li>
			<li><a>女生网</a></li>
			<li>
				<img src="./assets/imges/icon/phone.svg" alt="" /><a>客户端</a>
			</li>
			<div>
				<img src="./assets/imges/icon/mouse.svg" alt="" /><a>页游</a>
				<div class="webGame">
					<!-- 顶部倒三角 -->
					<i></i>
					<ul>
						<h6>今日开服</h6>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									class="active"
									src="../../assets/imges/ahdts192x46.jpg"
									alt=""
								/>
							</div>
						</li>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									src="../../assets/imges/bzsc2192x46.jpg"
									alt=""
								/>
							</div>
						</li>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									src="../../assets/imges/cqbz192x46.jpg"
									alt=""
								/>
							</div>
						</li>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									src="../../assets/imges/ljqy192x46.jpg"
									alt=""
								/>
							</div>
						</li>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									src="../../assets/imges/rxfs192x46.jpg"
									alt=""
								/>
							</div>
						</li>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									src="../../assets/imges/wzzx22192x46.jpg"
									alt=""
								/>
							</div>
						</li>
						<li>
							<div>
								<span>10-29</span><a href="">黑暗大天使</a
								><i>331区</i><span></span>
							</div>
							<div>
								<img
									src="../../assets/imges/xylw192x46.jpg"
									alt=""
								/>
							</div>
						</li>
					</ul>
					<img
						src="../../assets/imges/f293b1cd7eb1f676af36d22c2ca6a191.gif"
						alt=""
					/>
				</div>
			</div>
		</div>
	</ul>
</div>
